#page {
    padding-left: 3px;
    padding-right: 3px;
    margin-right: auto;
    margin-left: auto;
    background: #FFFFFF;
    max-width: 1000px;
}

.inpage{
    margin-right: 3%;
    margin-left: 3%;
    margin-bottom: 10px;
    margin-top: 10px;
}

#body{
    background: #530e00;
}

.grillecontainer {
    padding-left: 3%;
    padding-right: 3%;
}

#ban {
    position: relative;
}

#loginBox {
    background: #FFFFFF;
    margin: 5px;
    position: absolute;
        bottom: 0;
        left:80%;
        width: 15%
}

#loginBox input{
    width: 90%;
}

#loginBox button{
    width: 100%;
}

#footer {
    margin: 20px;
}

#basdepage {
    height: 10px;
}

#recherche {
    max-width: 100%;
}

#recherche input{
    width: 90%;
}

#recherche select{
    width: 100%;
}

#recherche button{
    width: 100%;
}

div.message{
    background: transparent url(/Lubyb-web/images/msg_arrow.gif) no-repeat scroll left center;
    padding-left: 7px;
}

div.error{
    background-color:#F3E6E6;
    border-color: #924949;
    border-style: solid solid solid none;
    border-width: 2px;
    padding: 5px;
}

.imgInGrille {
    height: 200px;
}

.imgPetite {
    max-height: 75px;
}


.span2 .thumbnail{
    width:140px;
    height:216px;
   
}

.span2 .thumbnail .imgPetite{
    margin : auto;
    margin-top:5px;

}

.span2 .thumbnail .caption{
    width:100%;
    margin : auto;
    padding:0px!important;
    vertical-align: middle;
    text-align: center;
}

.modal-body .imgInGrille{
    float:left;
}
.modal-body .caption{
    float:left;
}

.span3 .thumbnail .product{
    margin : auto;
    width:auto;
  
}
.span3 .thumbnail .product .imgInGrille{
    margin : auto;
    margin-top:5px;
    
}

.span3 .thumbnail{
    width:220px;
    height:458px;
    margin-bottom:10px;
   
}

.span3 .thumbnail .descriptif{
    float:left;
    margin:auto;
    height:auto;
    
}


.thumbnails .span3{
   float:right;
}

